/* Facebook */
.facebook-icon {
    color: #1877f2; /* Facebook blue color */
  }
  
  /* Instagram */
  .instagram-icon {
    color: #bc2a8d; /* Instagram pink color */
  }
  
  /* Twitter */
  .twitter-icon {
    color: #1da1f2; /* Twitter blue color */
  }
  
  /* Google */
  .google-icon {
    color: #4285f4; /* Google blue color */
  }
  